{% extends 'main/layout.html'  %}

{% block title %}Гагарин Алексей Иванович{% endblock  %}

{% block content %}
    <div class="features">
        <h1>Алексей Иванович Гагарин</h1>
        <f1><span style="font-size: 40px;">Отец первого космонавта Земли Ю.А. Гагарина</f1>
        <h1><span style="font-size: 30px;">14  марта 1902 — 30 августа 1973</h1>
        <f><img src="https://museumgagarin.ru/upload/medialibrary/88a/88acc3e68f3e5b762fcf9071287234cf.jpg" alt=""></f>
        <h2><span style="font-size: 30px;">Родился в январе 1902 года в деревне Клушино Гжатского уезда (ныне – Гагаринский район) в бедной крестьянской семье.
</h2>
        <h3><span style="font-size: 30px;">Работал пастухом и плотником. В годы коллективизации одним из первых вступил в колхоз. В годы Великой Отечественной войны находился на временно оккупированной территории. После освобождения Смоленщины А.И. Гагарин вместе с семьей переехал в Гжатск, где работал в воинских частях.
</h3>
        <h4><span style="font-size: 30px;">В послевоенные годы работал в Гжатске комендантом школы ФЗУ, столяром на заводе «Динамик». С 1962 года – на пенсии.
</h4>
        <h5><span style="font-size: 30px;">Награжден несколькими медалями. В 1969 году ему было присвоено звание «Почетный гражданин города Гагарина» (одновременно это звание было присвоено Юрию Алексеевичу (посмертно) и Анне Тимофеевне Гагариным).
</h5>
        <h6><span style="font-size: 30px;">Умер 30 августа 1973 года. Похоронен на Предтеченском кладбище в Гагарине.
</h6>

    </div>

    </div>

    {% include 'main/test.html' %}
{% endblock  %}

